node_modules/
tmp/
logs/
src/
npm-debug.log
"src/old item db"
lib/getnameid_dbs/
src/cookies/
TODO.txt
test.js
src/rb_itemdb.txt
src/rbeq_itemdb.txt
src/rch_itemdb.txt
src/rcheq_itemdb.txt
src/itemdb.js

